.navegacion{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: sticky;

}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 3000px;
    letter-spacing: -0.5px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0 0.9);
    line-height: 1.3;

}
.logo{
    margin: 0rem 3rem;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 70px;
    max-height: 70px;
    align-self: center;
}
.logo a{
    align-self: center;
    margin: 3rem 1rem 1rem;
    color: black;
    text-decoration: none;
}   

.barra{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 2rem;
    
}
.barra a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.barra a:hover{
    color: #E6AF2E;
}
.barra a.activo{
    color: #E6AF2E;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}


.hero-section{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-image: url(img/HERO.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: filter .5s ease-in-out;
    
}
.hero-section:hover{
    filter: grayscale(0%);
}
.hero-section h2{
    text-align: center;
    font-size: 3rem;
    width: 50rem;
    text-shadow: 2px 2px 4px black, 0 0 10px black;
    text-transform: uppercase;
    margin: 4px;
}
.hero-section h3{
    text-align: center;
    font-size: 2rem;
    width: 50rem;
    text-shadow: 2px 2px 4px black, 0 0 10px black;
    text-transform: uppercase;
}
.hero-section a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.hero-section a:hover{
    transform: translateY(-5px);
}

.intro-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: white;

    padding: 0 6rem;
    font-size: 1rem;

}
.intro-section img{
    width: 30rem;
    border-radius: 20px;
    
}
.intro-section h3{
    color: black;
    font-size: 2rem;
}
#blabla{
    padding: 0rem 5rem 0rem 8rem;
    color: gray;
}
.intro-section a{
    /*Hay que poner esto para usar el margin en los <a> xd*/
    display: inline-block;
    color: #E6AF2E;
    text-decoration: none;
    border: 2px solid #E6AF2E;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: .5rem 0rem;
}
.intro-section a:hover{
    background-color: #E6AF2E;
    color: white;
}
#academias {
    background-color: #1a1a1a;
    padding: 3rem;
    display: block; 
    text-align: center; 
}
#academias h2{
    color: white;
    margin-bottom: 40px;
    font-size: 3rem;
}
#academia-section{
    margin: 0px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 10px;
    gap: 20px
    
}
#academia-section h2{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    font-size: 3rem;
    margin-top: auto;
    color: white;
}

.cartas{
    background-color: white;
    padding: 2rem ;
    gap: 8px;
    border-radius: 10px;
    color: black;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    
}
.cartas a{
    display: inline-block;
    padding: 5px 5px;
    border-radius: 4px;
    border: 3px solid black;
    text-decoration: none;
    color: #1a1a1a;
    transition: all 0.3s ease;
}
.cartas a:hover{
    color: white;
    background-color: #1a1a1a;
}
.cartas h5{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}
.cartas p{
    align-self: flex-start;
    color: #666; 
    font-size: 0.9rem;
    margin: 0;
    max-width: 80%;
}
.cartas img{
    width: 75px;
    object-fit: contain;
}
.camino-section{
    height: 100%;
}
.camino-section h2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 3rem;
}
.cintas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
    padding-top: 0%;
    max-width: 1200px;
    margin: 0 auto;
}
.cinta-card{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0 ,0.1);
}
.color-box{
    width: 50px;
    height: 35px;
    border-radius: 4px;
    flex-shrink: 0;
}
#blanca{
    background-color: #ffffff;
}
#naranja{
    background-color: #FF8C00;
}
#morada{
    background-color: #8A2BE2;
}
#azul{
    background-color: #0044cc;
}
#verde{
    background-color: #008000;
}
#cafe{
    background-color: #8B4513;
}
#negra   { background-color: #000000; border: 1px solid #000; }

/*Por si se te olvida, este era de la ventana emergente, son los estilos*/
[popover] {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background: white;
    margin: auto; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}
[popover] img{
    display: block;
    margin: 0 auto;
}
/*fondito*/
[popover]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}
.btn-animado{
    border-radius: 7px;
    padding: 6px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.4s;
}
.btn-animado::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: width 0.4s ease;
}

.btn-animado:hover::before{
    width: 100%;
}
.btn-animado:hover{
    color: white;
    border-color: #000;
}
.btn-blanco::before{
    background-color: #ffffff;  
}
.btn-blanco:hover{
    color: black;
}
.btn-naranja::before{
    background-color: #FF8C00;  
}
.btn-morado::before{
    background-color: #8A2BE2;  
}
.btn-azul::before{
    background-color: #0044cc;  
}
.btn-verde::before{
    background-color: #008000;  
}
.btn-cafe::before{
    background-color: #8B4513;  
}
.btn-negro::before{
    background-color: #1a1a1a;  
}



