.navegacion{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: sticky;


}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 3000px;
    letter-spacing: -0.5px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0 0.9);
    line-height: 1.3;
}
.logo{
    margin: 0rem 3rem;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 75px;
}
.logo a{
    align-self: center;
    margin: 3rem 1rem 1rem;
    color: black;
    text-decoration: none;
}   

.barra{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 2rem;
    
}
.barra a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.barra a:hover{
    color: #E6AF2E;
}
.barra a.activo{
    color: #E6AF2E;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-image: url(img/HERO.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: filter .5s ease-in-out;
}
.hero:hover{
    filter: grayscale(0%);
}
.hero h2{
    text-align: center;
    font-size: 3rem;
    width: 50rem;
    text-shadow: 2px 2px 4px black, 0 0 10px black;
    text-transform: uppercase;
    margin: 4px;
}
.hero h3{
    text-align: center;
    font-size: 2rem;
    width: 50rem;
    text-shadow: 2px 2px 4px black, 0 0 10px black;
    text-transform: uppercase;
}
.hero a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.hero a:hover{
    transform: translateY(-5px);
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: white;

    padding: 0 6rem;
    font-size: 1rem;

}
.contenido img{
    width: 30rem;
    border-radius: 20px;
    
}
.contenido h3{
    color: black;
    font-size: 2rem;
}
#blabla{
    padding: 0rem 5rem 0rem 8rem;
    color: gray;
}
.contenido a{
    /*Hay que poner esto para usar el margin en los <a> xd*/
    display: inline-block;
    color: #E6AF2E;
    text-decoration: none;
    border: 2px solid #E6AF2E;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: .5rem 0rem;
}
.contenido a:hover{
    background-color: #E6AF2E;
    color: white;
}

#academias{
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartas{
    background-color: white;
    padding: 5rem;
    border-radius: 10px;
    color: black;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    
}
.cartas h5{
    margin-top: 5px;
    margin-bottom: 6px;
    font-size: 1.2rem;
}
.cartas p{
    align-self: flex-start;
    color: #666;         /* La dirección en gris para jerarquía visual */
    font-size: 0.9rem;
    margin: 0;
}
.cartas img{
    width: 75px;
    
}